header.navbar.navbar-fixed-top
    div.inner-page(style="padding-top: 5px; padding-bottom: 5px;")
        block headerlogo
        a.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            i.icon-reorder
        div.nav-collapse.collapse
            include navigation