div.navbar.navbar-static-top
    div.header
        div.header-inner.container
            .row-fluid
                .span8
                    h3 NashTaag
    div.container
        div.navbar-inner
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="#")
                | NashTaag
            div.nav-collapse.collapse
                include navigation