extends layout

block content
    .page.color-1#home  
        .inner-page
            h2.page-headline.large(style="font-family:Pacifico;") Welcome to Nashtaag
        .row-fluid.inner-page
            .span8.pull-right.lazy-container
                img.lazy(alt="", src="assets/img/pixel.png", data-original="assets/img/home.png")
            .span4.pull-right
                ul.big-list
                    li
                        i.icon-ok 
                        Create a taag
                    li
                        i.icon-cloud 
                        Some more text
                    li
                        i.icon-cog 
                        Even more text...
                br
                a.scrol.btn.btn-centered(href="")
                    More stuff 
                    i.icon-caret-down
    .sign-up.color-2.visible-desktop
        .row-fluid.inner-page
            .span-12
                h4.pull-left Say something cool or informative here maybe...?
                a.scroll.btn.pull-right(href="#features", title="Some other test....")
                    Scroll Down 
                    i.icon-caret-down
