extends layout

block content
    .page.color-1#home  
        .inner-page
            h2.page-headline.large(style="font-family:Pacifico;") Hello
        .row-fluid.inner-page
            .span8.pull-right.lazy-container
                img.lazy(alt="", src="assets/img/pixel.png", data-original="assets/img/home.png")
            .span4.pull-right
                ul.big-list
                    li
                        i.icon-ok 
                        Create a taag
                    li
                        i.icon-cloud 
                        Some more text
                    li
                        i.icon-cog 
                        Even more text...
                br
                a.scrol.btn.btn-centered(href="")
                    i.icon-caret-down More stuff
