!!!
html
    head
        block head
            block title
                title NashTaag
            block meta
                meta(name='description', content='')
                meta(name='keywords', content='')
                meta(charset='utf-8')
                meta(name='viewport', content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet', href='/assets/less/style.min.css')
            link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Pacifico', type='text/css')
            link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600', type='text/css')
            block css
            script(src='/javascripts/jquery-2.0.2.js')
            script(src='/javascripts/knockout-2.2.1.js')
            script(src='/assets/js/lazyload.js')
            script(src='/assets/js/jRespond.js')
            script(src='/assets/js/spin.js')
            script(src='/assets/js/bootstrap.min.js')
            script(src='/assets/js/lightbox.min.js')
            script(src='/assets/js/bootstrap.min.js')
            script(src='/assets/js/main.js')  
            block scripts              
    body#top(data-spy="scroll", data-target=".navbar")
        include header

        block content
