!!!
html
    head
        block head
            block title
                title NashTaag
            block meta
                meta(name='description', content='')
                meta(name='keywords', content='')
            link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
            link(rel='stylesheet', href='/stylesheets/style.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
            link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
            block css
            script(src='/javascripts/jquery-2.0.2.js')
            script(src="/javascripts/jquery-ui-1.10.3.js")
            script(src='/javascripts/bootstrap.js')
            block scripts
    body
        include header

        .container#content-container  
            block content
