ul.nav.navigation#menu
    li.active
        a.scroll.brand-1(href="/") Home
    li
        a.scroll.brand-1(href="/taag/editTaag") Create Taag
    li
        a.scroll.brand-1(href="/taag/showTaags") Search Taags