extends layout

block scripts
    script(type="text/javascript").
        $(function(){
            $('table').dataTable();
        });

block content
    // Check and see if taag is populated 
    unless theTaags == null
        .inner-page
            .row-fluid.span8
                h2.color-4(style="background:transparent; color: #FFF") 
                    The Taags
                table
                    thead
                        tr
                            th="Code"
                            th="Type"
                    tbody
                        each taag in theTaags
                            if taag.code != null
                                tr
                                    td 
                                        a.color-4(href='/' + taag.code, style="background:transparent; color: #000") #{taag.title}
                                    td 
                                        span.color-4(style="background:transparent; color: #000")= taag.type

    else
        .inner-page
            h2.color-4 Sorry, No Taags Found