extends layout

block content
    // Check and see if taag is populated 
    unless theTaags == null 
        h2 The Taags
        ul
            each taag in theTaags
                if taag.code != null
                    li 
                        a(href='/taag/editTaag/' + taag.code) #{taag.title}

    else
        h2 Sorry, No Taags Found